* {
    margin:0;
    text-decoration:none;
}

.home {
    background-color:#B5C18E;
    height:100px;
    color:white;
    display:flex;
    align-items:flex-end;
    justify-content:flex-end;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight:500
}

.container-one {
    display:flex;
    flex-direction:row;
    padding:20px;
    gap:30px;
    height:700px;
    background-color: #EADBC8;
    justify-content: center;
}

.sidebar {
    background-color:#f1f1f1;
    height:700px;
    width:600px;
    border-radius: 10px;

}

.recipe-container {
    background-color:#f1f1f1;
    height:700px;
    width:600px;
    border-radius: 10px;
}

.ca-kho-to {
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:26px;
    background-color: #B5C18E;
    height:100px;
    display:flex;
    align-items:flex-end;
    justify-content:flex-start;
    padding:10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.description {
    background-color:#B5C18E;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    border-radius:10px;
    font-size:16px;
    padding:20px
}


.prep {
    list-style-type: none;
    color:white;
    background-color: #B5C18E;
    font-family: Arial, Helvetica, sans-serif;
    gap:30px;
    display:flex;
    flex-direction: row;
    width:max-content;
    border-radius: 10px;
    padding:20px
}

.mini-container {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:20px
}


.fish {
    display:flex;
    flex-direction:row;
    margin-top:20px;
    padding:20px;
    gap:20px;
    align-items:center;
}


.container-two {
    background-color: #EADBC8;
    height:600px;
    display:flex;
    justify-content: center;
    align-items: center;
}


.steps {
    background-color:#f1f1f1;
    height:500px;
    width:1230px;
    border-radius:10px
    
}

.conclusion {
    padding:20px;
    gap:20px;
    align-items:center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}


.enjoy {
    background-color: #B5C18E;
    color:white;
    font-size:20px;
    font-weight:500;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:600px;
    width:max-content;
    border-radius:10px;
    padding:10px;
    
}


.katsus-kitchen {
    background-color: #B5C18E;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    height:100px;
    font-weight:500;
    display:flex;
    justify-content: center;
    align-items: center;
}

.garlic {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-direction: column;
    margin-top:30px
}


ol {
    color:white;
    background-color:#B5C18E;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    padding:20px;
    text-decoration:none;
    border-radius:10px;
} 

img {
    border-radius: 10px;
}

ul {
    background-color: #B5C18E;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:500;
    padding:20px;
    border-radius: 10px;
}