#banh {
    background-color:#336336;
    color: white;
    font-family:"Georgia","Arial", sans-serif;
    font-size:36px;
    font-weight:bold;
    text-align:center
}

#crepe {
    text-align:center
}

.pancake {
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:lighter;
    text-align:center
}

.ingredients {
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight:700
}

.savory {
    background-color:#336336;
    color: white;
    font-family:"Georgia","Arial", sans-serif;
    font-size:24px;

}



#enjoy {
    font-size:36px;
    font-weight:bold
}



ul{
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px
}


ol {
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px
}