body {
    background-color:#f5f5f5;
    display:flex;
    flex:1
}

.header {
    display:flex;
    justify-content:center;
    flex-shrink:0
}


.big {
    display:flex;
    justify-items:center;
    flex-direction:column;
    gap:8px;
    padding:8px;

}

.pic {
    display:flex;
    justify-content:center
}

#kata {
    background-color:#336336;
    text-align:center;
    color:white;
    font-size:36px;
    margin:30px;
    padding:10px
}

.katsu {
    background-color:#336336;
    color: white;
    font-family:"Georgia","Arial", sans-serif;
    font-size:36px;
    font-weight:bold;
    text-align:center;
    width: 200px;
    height:100%
}





.recipes {
    background-color:white;
    font-size:20px;
    padding:10px;
   
}

.links {
    display:flex;
    flex-direction:row;
    gap:20px;
    justify-content: center;
}

.description {
    text-align:center;
    font-size: 20px;
    font-family:"Georgia", "Arial", sans-serif;
    margin:16px

}

a {
    text-decoration:none;
    color:green
}